.Entrada {
    margin: 16px auto;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    width: 60%;
}

.Caja { 
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #000000; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #e6ccff; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #8c1aff;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

p {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}